{% extends 'base.html' %}
{% block title %}New note{% endblock %}
{% block content %}
<h1>New note</h1>
<form action="{{form_action}}" method="post" id="note_form">
    <p>
    <label for="text">text</label>
    <textarea id="text" type="input" placeholder="Enter your note here" form="note_form" name="text">{{text}}</textarea>
    </p>

    <p>
    <label for="url">url (optional)</label><br>
    <input id="url" type="url" name="url" value="{{url}}"/>
    </p>

    <p>
    <label>tags</label><br>
    {{tags_checkboxes}}
    <button>{{button_text}}</button>
    </p>
</form>
{% endblock %}
