{% extends 'base.html' %}
{% block title %}New note{% endblock %}
{% block content %}
<h1>{{heading}}</h1>
<form action="{{form_action}}" method="post" id="note_form">
    <p>
    <label for="text_field">text</label>
    <textarea id="text_field" type="input" placeholder="Enter your note here" form="note_form" name="text">{{text}}</textarea>
    </p>

    <p>
    <label for="url_field">url</label><br>
    <input id="url_field" type="url" name="url" value="{{url}}"/>
    </p>

    <p>
    <label>tags</label><br>
    {{tags_checkboxes}}
    </p>

    <p>
        <label id="note_is_tag_label">
        <input type="checkbox" id="note_is_tag" name="note_is_tag" value="note_is_tag" onclick="tag_switch()">note is tag
        </label>
        <br/>
        <label>tag name</label>
        <input type="text" name="name" disabled class="tag_fields">
        <label>tag color</label>
        <input type="color" name="color" value="none" disabled class="tag_fields">
    </p>
    <button>{{button_text}}</button>
</form>
{% endblock %}
{% block js %}
<script>
const tag_switch = () => {
    for (let field of document.getElementsByClassName("tag_fields")) {
        field.disabled = !document.getElementById("note_is_tag").checked
    }
}
</script>
{% endblock %}
