{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<table>
<thead>
    <tr>
        <th>id</th>
        <th>text</th>
        <th>url</th>
        <th>tag</th>
        <th>tags</th>
        <th>last edit</th>
        <th>is_private</th>
        <th>username</th>
    </tr>
</thead>
<tbody>
{% for note in notes %}
    <tr>
        <td><a href="/notes/{{note.id}}">{{note.id}}</a></td>
        <td>{% if note.text %}{{note.text}}{% endif %}</td>
        <td>{% if note.url %}<a href="{{note.url}}">{{note.url}}</a>{% endif %}</td>
        <td>{% if note.tag %}<a href="/tags/{{note.tag}}" id="{{note.tag}}">{{note.tag}}</a>{% endif %}</td>
        <td>{% for tag in note.tags %}<a href="/tags/{{tag}}" id="{{tag}}">{{tag}}</a>{% endfor %}</td>
        <td title='{{note.updated_time|format_time(absolute=True)}}'>{{note.updated_time|format_time}}</td>
        <td>{% if note.is_private %}private{% endif %}</td>
        <td><a href="/users/{{note.username}}">{{note.username}}</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
{% block css %}
<style>
{% for tag in tags %}
a[id={{tag.tag}}] {
    background-color: {{tag.color}};
    color: {{ tag.font_color }};
}
{% endfor %}
</style>
{% endblock %}
