{% extends 'base.html' %}
{% block title %}Note Details{% endblock %}
{% block content %}
    <div>ID: {{ note.id }}</div>
    <a href="/users/{{ note.username }}">username: {{ note.username }}</a>
    <div>url {{note.url}}</div>
    <a href="/notes/{{ note.id }}/json">json: <code>{{note.json_payload}}</code></a>
    <div>tag {{note.tag}}</div>
    <div>tags {{note.tags}}</div>
    <div>is_archived {{note.is_archived}}</div>
    <div>is_private {{note.is_private}}</div>
    <hr/>
    <p>
        {{note.text}}
    </p>
{% endblock %}
