{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
<h1>Users</h1>
<table>
<thead>
    <tr>
    <th>id</th>
    <th>username</th>
    <th>created_time</th>
    <th>updated_time</th>
    </tr>
</thead>
<tbody>
{% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td><a href='/users/{{user.username}}'>{{user.username}}</a></td>
        <td title='{{user.created_time|format_time(absolute=True)}}'>{{user.created_time|format_time}}</td>
        <td title='{{user.updated_time|format_time(absolute=True)}}'>{{user.updated_time|format_time}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
